<!-- <div style="width: 300px">
  <input type="text" 
    class="form-control"
    (input)="onUpdateServerName($event)"
    placeholder="Update server name"
  />

  <input text="text"
    class="form-control"
    [(ngModel)]="serverName"
    placeholder="insert server name"
  />
</div>
<button class="btn btn-primary" 
  [disabled]="!allowNewServer"
  (click)="onCreateServer()"
>
  Add server
</button>
<p>{{ serverName }}</p>
<p>{{ onCreatedServer }}</p> -->

<div style="width: 300px">
  <input type="text"
    class="form-control"
    [(ngModel)]="userName"
  />
</div>
<button class="btn btn-primary"
  [disabled]="!userName"
  (click)="resetUserName()"
>
  Reset username
</button>
<p>{{ userName }}</p>

<app-server></app-server>
<app-server></app-server>

<button class="btn btn-primary"
  (click)="displayDetails()"
>
  Display details
</button>

<p *ngIf="isHidden">Secret password is tuna</p>

<div *ngFor="let log of logs; let i = index"
  [ngStyle]="{'background-color': i >= 5 ? 'blue' : 'white'}"
  [ngClass]="{'white-text': i >= 5}"
>
  {{log}}
</div>


blue back ngStyle
whitecolor ngclass